body {
    background: pink;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: blue;
    text-align: left;
}

header {
    text-align: center;
    background: gray;
    font-size: 25px;
}

nav {
    background: gray;
}